<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="Pack1" version="1.0.0" as="PKG_1" />
	<package id="Pack2" version="1.0.0" as="PKG_2" />
	<package id="StackExchange.Redis" version="1.2.6" as="PKG_REDIS" />
	<package id="CodeVineRecorder" version="1.0.18" targetFramework="net452" as="PKG_CODEVINE" />
	<package id="Pack4" version="9.0.0" as="PKG_4" />
</packages>
